body {
    color: #222;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: #fafaf8;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.header h1 a {
    color: #222;
    text-decoration: none;
}

p.lead {
    font-size: 24px;
}

.content {
    background: #fff;
    padding: 20px 0 30px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.89);
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.project {
    padding-top: 20px;
}

.project h3 a {
    color: #222;
}

.project p.lead {
    margin-bottom: 10px;
}

.project-tags {
    margin-top: -5px;
    margin-bottom: 20px;
    line-height: 1.75em;
}

.project-images {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 7px;
}

.project-links {
    font-weight: 500;
}

.label-default {
    background-color: #445;
}

.about figcaption {
    margin-top: 10px;
}

.about ul {
    padding-left: 25px;
}

.phrases .buttons {
    text-align: center;
    margin: 1em;
}

.phrases .words {
    text-align: center;
    text-transform: capitalize;
}

.not-found {
    text-align: center;
    padding: 40px 0;
}

.more small {
    color: #888;
}

.footer {
    border-top: 1px solid #eee;
    text-align: center;
    padding: 20px 0 40px 0;
}

.social-note {
    font-size: 14px;
}

.social-icons {
    font-size: 28px;
    margin: 0;
}

.social-icons a {
    color: #222;
}

.social-icons i {
    margin: 0px;
}

.social-icons a:hover {
    color: #337ab7;
}

@media (min-width: 768px) {
    .social-icons {
        font-size: 36px;
    }
    .social-icons i {
        margin: 0 4px;
    }
}